


<div fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="row" fxLayoutAlign="center center">
    <div style="width:200px;margin:0 auto;">
      <a href="http://www.honeyfund.com/wedding/KristopherAndKimberly" style="text-align:left;background:url('http://www.honeyfund.com/share/honeyfund3.png') no-repeat;display:block;width:200px;height:100px;text-indent:-9999em;">
        Visit our honeyfund at Honeyfund.com, the free honeymoon registry
      </a>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <a href="http://www.honeyfund.com/wedding/KristopherAndKimberly"
        fxLayout="row" fxLayoutAlign="center center">
      <img id="gift-image" src="/assets/images/IslandKissingCharlie.jpg" alt="">
    </a>
  </div>
</div>
