
<div fxLayout="column" id="location-container">
  <div fxLayout="row" fxLayoutAlign="center center">
    <h1>Location</h1>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d676.0489221818028!2d-122.58077228655944!3d47.33004944818774!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x549052c255d166bb%3A0x3c16f6aac8acd471!2sGig+Harbor+Marina+%26+Boatyard!5e0!3m2!1sen!2sus!4v1500549279144" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>

</div>
